.content-card {
  width: 20em;
  height: 40em;
}

.see-details {
  position: absolute;
  bottom: 10px;
}
.description-content .movie-desk h3 {
  font-size: medium;
}

@media only screen and (max-width: 946px) {
  .content {
    margin-left: 100px;
  }
}
